<div class="wrapper">
  <app-header></app-header>
  <div class="content">
    <div class="content-container">
      <div class="content-filter">
<!--        <app-filter [all]="getTotalCourses()" [free]="getFreeCourses()" [premium]="getPremiumCourses()" ></app-filter>-->
      </div>
      <div class="wrapper-list-detail">
        <div class="content-list">
          <app-list></app-list>
        </div>
        <div class="info-detail">
          <app-detail></app-detail>
        </div>
      </div>
    </div>
  </div>
</div>
