mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}

.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

@media (min-width:900px) {
  #menu-icon {
    display: none;
  }
  .nav-toolbar {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    ul {
      display: flex;
      flex-direction: row;
      gap: 20px;
      list-style-type: none;
    }
  }
}

@media (max-width:900px) {
  .nav-toolbar {
    display: none;
    border: 1px solid red;
  }
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  list-style-type: none;
  font-size: 1.5rem;

  a {
    color: black;
    text-decoration: none;
  }
  a:hover, a:active {
    color: gray;
  }
}

.main-content {
  padding: 1rem 2rem;
}
