<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <div *ngIf="sidenav">
      <ul class="sidenav-menu">
        <li *ngFor="let menu of listMenu">
          <a [routerLink]='menu.link' (click)="sidenav.toggle()">{{ menu.title }}</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="left-nav">
        <div id="menu-icon">
          <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div routerLink="/">
          <span>Zetflix</span>
        </div>
      </div>
      <div class="nav-toolbar">
        <ul *ngFor="let menu of listMenu">
          <li><a [routerLink]='menu.link'>{{ menu.title }}</a></li>
        </ul>
      </div>

    </mat-toolbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
