input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

input {
  border-radius: 6px;
  padding: 0.5rem;
}

textarea {
  border-radius: 6px;
  padding: 0.5rem;
}

label {
  margin: 2px 0;
}

span {
  color: red;
  font-size: 12px;
  margin: 4px 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.input-title {
  display: flex;
  flex-direction: column;
}

.input-body {
  display: flex;
  flex-direction: column;
}

.form-action {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-close {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

.btn-submit {
  background-color: #2eaf55;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

.btn-submit:disabled {
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}
