<form  class="form-input" [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="input-title">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" formControlName="title" >
      <span *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched">Title is required</span>
    </div>
    <div class="input-body">
      <label for="body">Description</label>
      <textarea rows="5" type="text" id="body" name="title" formControlName="body" #titleInput></textarea>
      <span *ngIf="postForm.get('body')?.invalid && postForm.get('body')?.touched">Description is required</span>
    </div>
  </div>
  <div class="form-action">
    <button class="btn-close" (click)="cancelDialog()">Cancel</button>
    <button [disabled]="!formChanged" class="btn-submit" type="submit">Submit</button>  </div>
</form>
