.wrapper-post-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.wrapper-post-list {
  /*outline: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wrapper-title {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  padding: 1rem;
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

.add-post-btn {
  padding: 10px;
  background-color: #2eaf55;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  /*width: 36px;*/
}

.dialog-wrapper {
  min-width: 500px;
  min-height: 250px;
  border-radius: 20px;
}

.title-dialog {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*padding: 1rem;*/
}
