.card {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.card.active {
  background-color: #c8e6c9;
}
.card.inactive {
  background-color: #ffcdd2;
}

.button-status {
  margin-top: 16px;
  padding: 8px;
  border-radius: 8px;
}
