<div class="container-filter">
  <div class="search-course">
    <app-search></app-search>
  </div>
  <div class="container-radio-filter">
    <div class="filter">
      <input [(ngModel)]="selectedRadioButtonValue" type="radio" name="filter" value="all" (change)="onRadioButtonSelectionChanged()" />
      <span>{{'All Courses ('+all+')'}}</span>

    </div>
    <div class="filter">
      <input  [(ngModel)]="selectedRadioButtonValue" type="radio" name="filter" value="free" (change)="onRadioButtonSelectionChanged()" />
      <span>{{'Free Courses ('+free+')'}}</span>
    </div>
    <div class="filter">
      <input  [(ngModel)]="selectedRadioButtonValue" type="radio" name="filter" value="premium" (change)="onRadioButtonSelectionChanged()" />
      <span>{{'Premium Courses ('+premium+')'}}</span>
    </div>
  </div>
</div>
