<div>
  <div class="card">
    <div class="card-header">
      <h2>{{ courseData.name }}</h2>
<!--      <app-card *ngFor="let course of courses" [courseData]="course"></app-card>-->

      <app-price [price]="courseData.price"></app-price>
    </div>
    <div class="card-content">
      <div class="card-description">
        <p>{{ courseData.description }}</p>

<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
      </div>
      <div class="card-action">
        <button (click)="getCourseDetail(courseData)">Details</button>
<!--        <button>Buy</button>-->
      </div>
    </div>
  </div>
</div>
